PERSONALITYRAG_CONTAINER_NAME=PersonalityRAG
PERSONALITYRAG_BIND_IP=127.0.0.1
PERSONALITYRAG_WEBUI_HOST_PORT=8765
PERSONALITYRAG_ACCESS_HOST_PORT=8766
PERSONALITYRAG_STATE_DIR=./runtime
PERSONALITYRAG_BUILD_CONTEXT=.
PERSONALITYRAG_VCS_REF=development
PERSONALITYRAG_DEFAULT_EMBEDDING_API_BASE=http://host.docker.internal:8001/v1
TZ=Asia/Shanghai
